.menu-container {
  padding: 10px;
  align-items: left;
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
}

.menu-icon div {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.2s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -7px);
}

.menu-links {
  display: none;
  flex-direction: column;
  margin-top: 10px;
}

.menu-links a {
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
}
